@page "/customers"


<h3>CustomerList</h3>

@if (customers!=null)
{

<ul>
    @foreach(var customer in customers)
    {
        <li>
            @customer.FirstName @customer.LastName
        </li>
    }
</ul>
}
else
{
    <p>Loading...</p>
}