@page "/customers"


<h3>CustomerList</h3>



@*    <Virtualize Context="customer" Items="customers" >

    <p>
    @customer.FirstName @customer.LastName
    </p>

    </Virtualize>*@


<Virtualize Context="customer" ItemsProvider="LoadCustomers">

    <ItemContent>
        <p>
            @customer.FirstName @customer.LastName
        </p>
    </ItemContent>

    <Placeholder>
        <p>Loading...</p>
    </Placeholder>



</Virtualize>


