
<tr>
    <td>
        <NavLink href="@($"products/{Product.Id}")">
            @Product.Name
        </NavLink>        
    </td>

    <td>@Product.Color</td>
    <td>@Product.Price</td>
</tr>

@code {

    [Parameter]
    public Product Product { get; set; }
}