@page "/products/{id:int}"

@inject IProductService productService

<h3>Product Details</h3>

<div class="card" style="width: 28rem;">
    <img src="@product?.ImageLink" class="card-img-top" alt="@product?.Name">
    <div class="card-body">
        <h5 class="card-title">@product?.Name</h5>
        <p class="card-text">@product?.Description</p>
    </div>
    <div class="card-footer">
        @product?.Price.ToString("C")
    </div>
</div>



@code {
    private Product product;

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        product = await productService.GetByIdAsync(Id);
    }

}
