

<div class="progress progress-sm mr-2">
    <div class="progress-bar bg-info" role="progressbar" style="width: @Value%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
</div>

@code {

    [Parameter]
    public int Value { get; set; }

}
