@page "/products"
@inject IProductRepository productRepository

<h3>Products</h3>

@*
    <ul class="list-group">
    @foreach(var product in products)
    {
        <li class="list-group-item">@product.Name</li>
    }
</ul>
*@

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Color</th>
            <th scope="col">Price</th>
        </tr>
    </thead>

    <tbody>
        @foreach(var product in products)
        {
           <ProductItemComponent Product=@product />
        }
    </tbody>

    <tfoot>
        Quantity: @products.Count()
    </tfoot>
</table>



@code {
    private IEnumerable<Product> products;


    protected override async Task OnInitializedAsync()
    {
        products = await productRepository.GetAsync();
    }
}





