@page "/products"
@inject IProductRepository productRepository

<h3>Products</h3>

<SearchBarComponent OnSearch="HandleSearch" />

<TableTemplate Items="products" Context="Product" Columns="columns">    
    <RowTemplate>        
        <ProductItemComponent Product="Product" />        
    </RowTemplate>
</TableTemplate>


@code {
    private IEnumerable<Product> products;

    private IEnumerable<string> columns = new List<string> { "Name", "Color", "Unit Price" };

    protected override async Task OnInitializedAsync()
    {
        products = await productRepository.GetAsync();
    }

    private async Task HandleSearch(string filter)
    {
        if (string.IsNullOrEmpty(filter))
        {
            products = await productRepository.GetAsync();
        }
        else
            products = await productRepository.GetByColor(filter);
    }

}





