@page "/tabcontrol"

<h3>TabControlPage</h3>


<TabControl>
    <TabPage Caption="Tab 1">
        <h1>Content 1</h1>
    </TabPage>

    <TabPage Caption="Tab 2">
        <h1>Content 2</h1>
    </TabPage>

    <TabPage Caption="Tab 2">
        <h1>Content 3</h1>
    </TabPage>
</TabControl>

@code {

}

